<ng-container *ngFor="let host of hosts | async">
  <div class="availability-wrapper">
    <p class="availability" *ngIf="host.availabilityConfirmed">
      Disponível para o feriado
    </p>
  </div>
  <article class="host-card">
    <!-- Availability might be a component when its content becomes dynamic -->
    <div class="showcase">
      <dh-avatar
        [src]="host.user.imageUrl"
        [alt]="host.user.firstName"
        [superhero]="host.isSuperhero"
      ></dh-avatar>
      <header class="showcase-info">
        <h1>{{ host.user.firstName }}</h1>
        <h2>{{ host.choppedDesc }}</h2>
        <p>{{ host.regionAddress }}</p>
        <dh-rating
          [average]="host.rating"
          [reviewsCount]="host.reviewsCount"
        ></dh-rating>
      </header>
      <div class="showcase-aside">
        <button
          type="button"
          aria-label="Favoritar"
          dh-favorite
          [active]="host.favorite"
        ></button>
        <dh-pricing
          [value]="host.locale.price"
          [currenyCode]="host.locale.currency"
        ></dh-pricing>
      </div>
    </div>
    <article
      dh-review
      [name]="host.lastReview.clientName"
      [avatarUrl]="host.lastReview.clientImageUrl"
    >
      {{ host.lastReview.body }}
    </article>
    <ul dh-highlights>
      <li
        dh-highlight-item
        *ngFor="let highlight of host.sortedHighlights"
        [name]="highlight.name"
        [value]="highlight.value"
      ></li>
    </ul>
    <button type="button" dh-button>
      Converse com {{ host.user.firstName }}
    </button>
  </article>
</ng-container>
