// Fonts
$font-primary: Lato, 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-secondary: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

// Padding
$padding: 1rem;
$padding-small: 0.625rem;

$navbar-height: 5rem;
