@import 'abstracts/functions';

:host {
  display: flex;
  align-items: flex-end;
  color: color(--primary);
}

.star {
  fill: color(--neutral-light);

  &--active {
    fill: color(--primary);
  }
}

.count {
  margin-left: 0.42em;
  font-size: 0.75em;
}
