<div class="container navbar-wrapper">
  <button
    class="navbar-toggler"
    type="button"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span dh-icon size="small" name="menu"></span>
  </button>
  <a
    class="navbar-logo"
    href="/"
    title="DogHero - Hotel para cachorro domiciliar"
  >
    <img src="assets/images/logo.svg" alt="DogHero logo" />
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Seja um Herói</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Como funciona</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Serviços</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://love.doghero.com.br/">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Entrar</a>
    </li>
  </ul>
</div>
